<header class="col-span-3 px-6 py-8 md:px-16 md:py-24 lg:py-32 flex flex-col items-center lg:items-end justify-between bg-cover bg-center lg:fixed lg:h-screen lg:w-1/3" style="{{ partial "sidebar/style" . | safeCSS }}">
  <section class="text-center lg:text-right pb-6">
    <h2 class="text-3xl lg:text-xl xl:text-2xl text-gray-100">
      {{ .Site.Params.intro | default "Hola, Soy Ángel Guerra" | safeHTML }}
    </h2>
  </section>

  <section class="flex flex-col items-end">
    <div class="flex flex-row items-start flex-wrap">
      {{ partial "sidebar/social" .}}
    </div>
    <div class="hidden lg:block text-right text-gray-100 text-sm mt-4">
      <span class="block">{{ .Site.Copyright }}</span>
      <span class="block">
        Hecho con {{ emojify ":heart:" }} por 
        <a href="https://angelguerra.me" target="_blank" rel="noopener noreferrer">Ángel Guerra</a>
      </span>
      <span class="block">
        <a href="/notas-del-desarrollador" title="Más información sobre esta web">
          ¿Quieres saber más sobre esta web?
        </a>
      </span>
    </div>
  </section>
</header>