{{ partial "header" .}}

<section class="mb-12 pb-12 border-b border-dotted">
  <section>
    <h1>{{ .Title }}</h1>
    <div class="tags">
      {{ partial "portfolio/tags" .}}
    </div>
  </section>

  {{ .Content }}

  {{ if .Params.testimonial }}
    {{ with .Params.testimonial }}
      {{ partial "portfolio/testimonial" . }}
    {{ end }}
  {{ end }}
</section>

{{ if .Params.images }}
  <div
    class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-2 xl:gap-3 grid-flow-row"
    itemscope
    itemtype="http://schema.org/ImageGallery"
    data-photoswipe
  >
    {{ range $index, $image := .Params.images }}
      <figure
        itemprop="associatedMedia"
        itemscope
        itemtype="http://schema.org/ImageObject"
        {{ if $image.vertical }}class="md:row-span-2"{{ end }}
      >
        <a
          href="{{ $image.src }}?nf_resize=fit&w=1920"
          itemprop="contentUrl"
          {{ if $image.vertical }}data-size="1280x1920"{{ else }}data-size="1920x1280"{{ end }}
        >
          <img
            loading="lazy"
            data-srcset="{{ $image.src }}?nf_resize=fit&w=720 720w, {{ $image.src }}?nf_resize=fit&w=445 445w, {{ $image.src }}?nf_resize=fit&w=360 360w, {{ $image.src }}?nf_resize=fit&w=380 380w, {{ $image.src }}?nf_resize=fit&w=600 600w"
            data-sizes="(min-width: 640px) 720px, (min-width: 768px) 445px, (min-width: 1024px) 360px, (min-width: 1280px) 380px, 600px"
            data-src="{{ $image.src }}?nf_resize=fit&w=600"
            alt="{{ $image.alt }}"
            itemprop="thumbnail"
            class="shadow hover:shadow-md rounded object-cover h-full"
          />
        </a>
        <figcaption class="hidden" itemprop="caption description copyrightHolder">
          Fotografía: &copy; Regazo Fotografía
        </figcaption>
      </figure>
    {{ end }}
  </div>
{{ end }}

{{ partial "footer" .}}
