<nav id="breadcrumbs" aria-label="breadcrumbs" class="w-full text-sm mb-6">
  <ol class="list-none inline-flex flex-wrap">
    {{- template "breadcrumbnav" (dict "p1" . "p2" .) -}}
  </ol>
</nav>
{{ define "breadcrumbnav" }}
  {{ if .p1.Parent }}
    {{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 )  }}
  {{ else if not .p1.IsHome }}
    {{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 )  }}
  {{ end }}
  {{ if eq .p1 .p2 }}
    <li>{{ .p1.Title }}</li>
  {{ else }}
    <li><a href="{{ .p1.Permalink }}" title="{{ .p1.Title }}" class="text-gray-800">{{ .p1.Title }}</a></li>
  {{ end }}
{{ end }}