{{ partial "header" .}}

<section class="text-center">
  <h1>Mmm... ¡Error 404!</h1>
  <img src="/images/gopher-dante.png" alt="" class="w-full sm:w-2/3 md:w-1/3 mx-auto mb-16" />
  <h2>Parece que la página que buscas no existe.</h2>
</section>

<hr class="my-16 border-t-2 border-gray-650" />

<section>
  <header>
    <h2>Mientras estás aquí... </h2>
  </header>

  {{ $pages := (where .Site.RegularPages "Section" "==" "portfolio") }}
  {{ if gt (len $pages) 0 }}
    <section class="flex flex-row flex-wrap justify-between -mb-8">
      {{ range first 2 $pages }}
        {{ partial "portfolio/item" .}}
      {{ end }}
    </section>
  {{ end }}

  {{ $pages := (where .Site.RegularPages "Section" "==" "post") }}
  {{ if gt (len $pages) 0 }}
    <section class="flex flex-row flex-wrap justify-between -mb-8">
      {{ range first 2 $pages }}
        {{ partial "post/item" .}}
      {{ end }}
    </section>
  {{ end }}
</section>

{{ partial "footer" .}}
